 <div id="empowered">
  <a href="https://singly.com/"><img src="/images/singly-button.png" /></a>
 </div>

 <div id="credits">
  Created by <a href="http://www.beaugunderson.com/">Beau Gunderson</a> during an internal hack day at <a href="https://singly.com">Singly</a>.
 </div>
