 <!--
 <div id="friends">
  <div id="friends-row">
   <div id="friends-header">
    <h3>Compare your friends!</h3>

    <span>Want friend-finding like this for your app? <a
    href="https://singly.com/docs/friends">Use Singly!</a></span>
   </div>

   <div id="friends-more">
    <a id="button" href="#">Show all</a>
   </div>

   <ul id="friends-list"></ul>
  </div>
 </div>
 -->
