 <div id="friends">
  <div id="friends-row">
   <div id="friends-header">
    <h3>Compare your friends!</h3>
   </div>

   <ul id="friends-list"></ul>

   <div id="friends-more">
    <a href="#">More</a>
   </div>
  </div>
 </div>
