<script src="/leaderboard.js"></script>

<h1>Leaderboard</h1>

<p>This leaderboard is sorted first by the number of services the user has
authorized and second by their average percentages for each service, weighted
by the size of the service. This seemed like the fair way to sort the
leaderboard because if you're a true early adopter you'll have low user IDs on
more than one service.</p>

<table>
 <thead>
  <th class="left">Name</th>
  <th>Blended Average</th>
  <th>Services</th>
 </thead>

 <tbody id="leaderboard">
  <!--Filled programatically -->
 </tbody>
</table>
