html, body {
  height: 100%;
  min-height: 100%; }

.left {
  text-align: left; }

table {
  width: 100%;
  margin-bottom: 1em; }

#leaderboard td:nth-child(n+2) {
  text-align: center; }

li.centered {
  text-align: center;
  font-weight: bold; }

.friends-visible #friends {
  bottom: 0; }

#friends {
  -webkit-transition: bottom 0.3s ease-in;
  -moz-transition: bottom 0.3s ease-in;
  -o-transition: bottom 0.3s ease-in;
  transition: bottom 0.3s ease-in;
  position: fixed;
  left: 0;
  bottom: -101px;
  height: 60px;
  z-index: 10000;
  border-top: 5px solid #382e3c;
  padding: 18px;
  background-color: #3b424c;
  width: 100%; }
  #friends #friends-row {
    vertical-align: middle;
    display: table-row; }
    #friends #friends-row #friends-header {
      display: table-cell;
      min-width: 280px; }
      #friends #friends-row #friends-header h3 {
        display: inline;
        padding: 0;
        margin: 0;
        line-height: initial; }
      #friends #friends-row #friends-header span {
        font-size: 0.6em; }
    #friends #friends-row #friends-more {
      display: none;
      min-width: 120px;
      padding-left: 1em; }
      #friends #friends-row #friends-more #button {
        height: 60px;
        padding: 0.5em;
        border-radius: 5px;
        background-color: #25292f; }
    #friends #friends-row #friends-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
      width: 100%;
      text-align: center;
      display: table-cell;
      overflow: hidden;
      white-space: nowrap; }
      #friends #friends-row #friends-list li {
        display: inline-block;
        margin-right: 1.5em; }
  #friends.more {
    height: auto; }
    #friends.more #friends-row #friends-list {
      white-space: normal; }
      #friends.more #friends-row #friends-list li {
        margin-bottom: 1em; }

.authenticated #description {
  display: none; }

.card.image-wrap {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6), inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6), inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -7px 0 rgba(0, 0, 0, 0.6), inset 0 -9px 0 rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }

#google-ads {
  margin-top: 1em; }

#profile-link {
  font-size: 0.9em;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em; }

#viral {
  margin-bottom: 1.5em; }

#averages {
  display: none; }

#idego {
  display: none;
  padding-left: 2em;
  font-size: 0.8em; }

#twitter-text-wrapper {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  padding: 1.5em;
  border: 2px dashed #e3ff99;
  text-align: center;
  display: none; }

.twitter-share-button {
  margin-left: 0.5em; }

span.accent, #averages span {
  color: #ffc1a9; }

body {
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #1d181f;
  color: #eeeeee; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.15em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ArvoBold', Georgia, serif;
  color: #e3ff99;
  margin-bottom: 0.5em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: #e3ff99; }

a, a:visited {
  color: #ffc1a9;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #ffe6dc; }

.extended {
  padding-left: 3em; }

#content {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: #3b424c;
  min-height: 100%; }

.friends-visible #content {
  padding-bottom: 120px; }

img.connected {
  margin-left: 11px;
  margin-right: 1em; }

#id {
  color: #e3ff99; }

#ajax-error {
  display: none; }
  #ajax-error a, #ajax-error a:visited {
    color: #1d181f; }

#ajax-error-details {
  font-size: 0.8em; }

.check {
  color: #25aae1;
  margin-right: 4px; }

#empowered,
#credits {
  text-align: center; }

#credits {
  margin-top: 1em;
  font-size: 0.8em; }

#google-ads {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 468px;
  padding: 0; }

#auth {
  margin-top: 1.5em;
  margin-bottom: 1em; }
  #auth li {
    list-style-type: none;
    line-height: 40pt; }

#auth.compare {
  margin-left: 0; }

#auth.profile {
  margin-top: 0; }

iframe {
  vertical-align: middle;
  margin-top: -5px; }

a.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px 'Karla', sans-serif;
  padding: 16px 10px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 250px; }

a.clean-gray:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
  text-decoration: none; }

a.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }
